.add-content-area {
  height: calc(100% - 1.5rem);
  margin-top: 1.5rem;
}
.add-content-area .component-container {
  width: 90%;
  max-height: calc(100% - 1.5rem);
  max-width: 25rem;
  /* max-height: calc(100vh - var(--top-bar-height) - var(--nav-height)); */
  /* margin-top: 3rem; */
  align-content: center;
  margin: auto;
  padding: 1.5rem;
  overflow-y: auto;
}

.form-container {
  display: flex;
  flex-direction: column; /* 폼 내부의 요소들을 세로로 배치 */
  align-items: center; /* 수평 가운데 정렬 */
  width: 300px; /* 폼의 너비를 설정 */
}
