.content-area {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 100px;
  height: 100vh; /* 화면 전체 높이로 설정 */
}

.form-container {
  display: flex;
  flex-direction: column; /* 폼 내부의 요소들을 세로로 배치 */
  align-items: center; /* 수평 가운데 정렬 */
  width: 300px; /* 폼의 너비를 설정 */
}
