
/* 배경을 위한 컨테이너 */
.background-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
}

/* 로그인 컨테이너 스타일 */
.login-container {
  background-color: var(--background-section);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
}

.login-form {
  width: 85%;
}

.button-con {
  display: flex;
  justify-content: space-around;
}

.title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--text-gray);
  font-size: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
}

.login-button {
  border: none;
  border-radius: 4px;
  background-color: var(--text-black); /* 로그인 버튼 기본 색상 */
  color: var(--text-white);
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--action-green-hover); /* 기존의 초록 호버 색상 사용 */
}

.error-message {
  height: 1.5rem;
  margin-top: 0.5rem;
  color: var(--action-red);
  font-size: 0.9rem;
  text-align: center;
}