/* 전체 페이지 레이아웃 */
.main-content {
  
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px); /* Sidebar를 제외한 나머지 영역 */
  position: relative;
}

/* content-area: 내부 요소를 세로로 정렬 */
.content-area-multi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
}

/* main-area: 내부 요소를 좌우로 정렬 */
.main-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* room-list: 2열 고정 */
.room-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 고정 */
  grid-gap: 20px; /* 카드 간격 */
  width: 100%;
}

/* room-card: 방 정보 카드 크기 고정 */
.room-card {
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px; /* 고정된 높이 */
  max-width: 500px; /* 카드의 최대 너비 설정 */
}

/* 빈 카드 스타일 */
.room-card.empty {
  background-color: #e0e0e0;
  justify-content: center;
}

.room-info-empty {
  font-size: 1.2em;
  color: #666;
}

.thumbnail {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.room-info h3 {
  margin: 0;
  font-size: 1.2em;
}

.room-info p {
  margin: 5px 0;
  color: #666;
}

/* 하단 버튼들 고정 영역 */
.bottom-buttons {
  position: fixed;
  bottom: 0;
  left: 150px; /*Sidebar의 너비만큼 왼쪽에서 시작*/
  width: calc(100% - 150px); /* Sidebar를 제외한 나머지 너비 */
  height: 100px; /* 높이 고정 */
  display: flex;
  justify-content: space-around;
  align-items: center; /* 버튼을 수직 중앙에 정렬 */
  background-color: #fff;
  border-top: 1px solid #ddd;
  z-index: 2; /* 다른 요소 위로 고정 */
}

/* 버튼 스타일 */
.quick-join, .sort-by, .create-room, .refresh {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.sort-by {
  background-color: #2196F3;
}

.create-room {
  background-color: #FFC107;
}

.refresh {
  background-color: #FF5722;
}
