/* players-chat area */
.players-chat {
  background-color: var(--background-section);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 15%; /* Adjust the width as needed */
  margin-left: 0.5vw;
  padding: 10px;
  box-sizing: border-box;
}

/* PlayerCard component */
.player-cards-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  height: 35%;
  border: 1px solid var(--border-gray);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.player-card {
  display: flex;
  align-items: center;
  color: var(--text-black);
  height: calc(100% / 4);
  border-bottom: 1px solid var(--border-gray);
  padding: 10px;
  background-color: var(--background-section);
}

.player-card:last-child {
  border-bottom: none;
}

.player-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.details p {
  margin: 2px 0;
  font-size: 14px;
  color: var(--text-gray);
}

.details p:first-child {
  color: var(--text-black);
  font-weight: bold;
}

.color-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
}
