
/* PlayerCard component */
.player-cards-container {
  display: flex;
  flex-direction: column;
  height: 35%;

  border-radius: 8px 0 0 8px;
  overflow: hidden;
  margin-top: 1vh;
}

.player-card {
  display: flex;
  align-items: center;
  color: var(--text-scheme);
  height: calc(100% / 4);
  border-bottom: 1px solid var(--border-gray);
  padding: 10px;
  background-color: var(--background-section);
}

.player-card:last-child {
  border-bottom: none;
}

.player-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
}

.details p {
  margin: 2px 0;
  font-size: 14px;
  color: var(--text-gray);
}

.details p:first-child {
  color: var(--text-scheme);
  font-weight: bold;
}

.color-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--border-gray);
}
