/* 스타일 적용 */
.play-page {
  width: 100%;
  height: 100vh;
  background-color: var(--background-main);
}

.component-container-play {
  background-color: var(--background-section);
  overflow: hidden;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.main-content-play {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  display: flex;
  height: calc(100% - var(--top-bar-height));
  overflow: hidden; /* 페이지 전체 스크롤 방지 */
  justify-content: space-between;
}

.main-content-play.shifted {
  margin-left: var(--sidebar-width);
}

/* Content area */
.play-content-area {
  width: 85%;
  border-radius: 0 15px 15px 0;
}

/* Score area */
.score-setting-area {
  width: 14%; /* 좌측 영역 너비 설정 */
  border-radius: 15px 0 0 15px;
}

.score-area {
  height: 50%;
  border-bottom: 3px solid var(--border-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-area p {
  margin: 5px 0;
  color: var(--text-scheme);
  font-weight: bold;
}

/* Setting Area 스타일 */
.setting-area {
  display: flex;
  flex-direction: column;
  height: 50%; /* 부모 요소의 50% 높이를 차지하도록 설정 */
  justify-content: center;
  align-items: center;
}

.pitch-graph-play {
  height: 75%;
  width: 100%;
  border-radius: 0 15px 15px 0;
  border-top: 2px solid var(--border-gray); /* 실선 추가 */
  border-bottom: 2px solid var(--border-gray); /* 실선 추가 */
  border-right: 2px solid var(--border-gray); /* 실선 추가 */

}

/* Karaoke Lyrics */
.karaoke-lyrics {
  text-align: center;
  margin: 20px 0;
}

/* Lyrics box */
.prev-lyrics,
.next-lyrics {
  margin: auto;
  font-size: 0.9em;
  text-align: center;
  opacity: 0.6;
  color: var(--text-gray);
}

.curr-lyrics {
  margin: auto;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: var(--text-scheme);
}

/* Audio Player Control */
.audio-controls {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-controls button {
  cursor: pointer;
  background-color: var(--text-neutral-bg);
  color: var(--text-black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.audio-controls button:disabled {
  background-color: var(--background-selected);
  cursor: not-allowed;
}

.audio-controls button:hover:not(:disabled) {
  background-color: var(--background-selected);
}

.range-slider {
  width: 80%;
}

.playback-info {
  margin-top: 10px;
  color: var(--text-black);
}

/* Speed Control 스타일 */
.speed-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.speed-control label {
  margin-bottom: 5px;
  color: var(--text-scheme);
}

.speed-control-value {
  margin-top: 5px;
  color: var(--text-gray);
}

/* Loading */
.loading-text {
  color: var(--text-gray);
  margin-top: 10px;
}

/* Play Navigation Button */
.play-nav-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: var(--text-highlight-bg);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.play-nav-button:hover {
  background-color: var(--border-hover);
}

/* 기타 요소들에 대한 텍스트 정렬 수정 */
.prev-lyrics,
.curr-lyrics,
.next-lyrics {
  text-align: center;
}