.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--background-selected);
  color: var(--text-scheme);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
  box-shadow: 0 0 2px 0 #333;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-nav {
  padding: 0;
  padding-top: 1em;
}

.sidebar-nav .nav-button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  margin: 0em 0;
  padding: 0;
  height: calc(var(--sidebar-width) * 0.9);
  background-color: #FFFFFF00;
  color: var(--text-scheme);
  border: none;
  cursor: pointer;
}

.sidebar-nav button:hover {
  opacity: 50%;
}

.nav-button .selected {
  color: var(--text-highlight-bg);
}

.nav-caption {
  margin-top: 0.5em;
  font-size: 0.8em;
}

/* 토글 버튼 스타일 */
.toggle-button {
  position: fixed;
  background-color: var(--background-selected);
  color: var(--text-scheme);
  border: none;
  cursor: pointer;
  z-index: 200;
  transform: translateX(0%);
  transition: transform 0.3s ease;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.toggle-button.open {
  transform: translateX(var(--sidebar-width-px));
}

.toggle-button.closed {
  transform: translateX(0%);
}

.close-button {
  margin-left: calc(var(--sidebar-width));
  margin-bottom: 0.5rem;
}
