/* 데스크톱 환경 */
@media (min-width: 1025px) {
  .song-list-area-container {
    width: 75%; /* 너비의 75% */
    margin-left: 1vw;
    margin-right: 0.5vw;
  }

  .preview-container {
    width: 25%; /* 너비의 25% */
    margin-right: 1vw;
    margin-left: 0.5vw;
  }
}

/* 모바일 환경 */
@media (max-width: 1024px) {

  .song-list-area-container {
    height: 75%; /* 높이의 75% */
  }

  .preview-container {
    height: 25%; /* 높이의 25% */
  }

}
