.song-list-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%; 
  border: 1px solid #e0e0e0;
}

@media (max-width: 1024px) {
  .song-list-area {
  height: 40%;
  }
}
.top-section {
  display: flex;
  height: 8%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.tabs {
  display: flex;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 0.5rem;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 0.5rem 1rem;
  font-size: 14px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 1rem;
}

/* 곡 추가 버튼 스타일 */
.add-song-button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}