.song-list-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* 팝업에서 화면 비율 맞추기 */
  height: 92.5%; 
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.tabs {
  display: flex;
}

.tabs button {
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.tabs button:hover {
  background-color: #e9ecef;
}

.tabs button.active {
  border-bottom: 3px solid #007bff;
  color: #007bff;
  font-weight: bold;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 1rem;
}

/* 곡 추가 버튼 스타일 */
.add-song-button {
  padding: 0.5rem 1rem;
  height: 90%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* SongList 컴포넌트에 대한 스타일 */
.song-list {
  flex-grow: 1;
  overflow-y: auto;
}

/* SongList 내부의 곡 추가 배너 */
.add-song-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px; /* 충분한 공간 확보 */
  border: 2px dashed #aaa; /* 점선 테두리 */
  border-radius: 8px; /* 둥근 모서리 */
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-song-banner:hover {
  background-color: #f1f3f5; /* 배너 hover 시 배경색 */
}

.add-song-icon {
  font-size: 50px;
  color: #007bff; /* + 아이콘 색상 */
}

.add-song-text {
  text-align: center;
  margin-top: 15px;
}

.add-song-text h4 {
  margin: 0;
  font-size: 18px;
  color: #343a40; /* 헤더 색상 */
}

.add-song-text p {
  margin-top: 5px;
  font-size: 14px;
  color: #6c757d; /* 설명 텍스트 색상 */
}