/* TopBar.css */
.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: var(--background-main);
  height: var(--top-bar-height);
}

@media (max-width: 1023px) {
  .dark-mode-toggle {
    position: fixed;
    top: 0.25rem;
    left: 2.6vw;
  }
}

.right-section {
  display: flex;
  align-items: center;
}

.user-details {
  text-align: right;
  margin-right: 15px;
}

.user-details h3 {
  margin: 0;
  font-size: 18px;
  color: var(--text-scheme);
}

.user-details p {
  margin: 0;
  font-size: 14px;
  color: var(--text-gray);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-highlight-bg); /* 노란색 배경 */
  color: var(--text-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

.settings-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-scheme);
}

.logout-button {
  margin-right: 15px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--background-selected);
  color: var(--text-scheme);
}
