/* TopBar.css */
.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem 0 1rem;
  background-color: var(--background-main);
  height: var(--top-bar-height);
}

.top-bar .logo {
  margin: 0.2rem;
  margin-right: auto;
}

@media (max-width: 767px) {
  .top-bar .logo {
    width: calc(var(--top-bar-height) - 0.9rem);
    object-fit: cover;
    object-position: left;
  }
}
@media (max-width: 1023px) {
  .dark-mode-toggle {
    position: fixed;
    top: 0.25rem;
    left: 2.6vw;
  }
}

.right-section {
  display: flex;
  align-items: center;
}

.user-details {
  text-align: right;
  margin-right: 15px;
}

.user-details h3 {
  margin: 0;
  font-size: 18px;
  color: var(--text-scheme);
}

.user-details p {
  margin: 0;
  font-size: 14px;
  color: var(--text-gray);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-highlight-bg); /* 노란색 배경 */
  color: var(--text-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
}

.settings-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-scheme);
  transition: transform 0.3s ease, color 0.3s ease;
}
.settings-button:hover{
  transform: scale(1.5); /* 크기 약간 증가 */
  color: var(--border-hover); /* 텍스트 색상 변화 */
}

.logout-button {
  margin-right: 15px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--background-selected);
  color: var(--text-scheme);
}
