body, html {
  /* 꽉차게 하기 위해 스크롤을 없앰 그래야 맞음. */
  overflow: hidden;
}
/* 모든 화면을 이렇게 맞춤 */
.fullscreen-element {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    color-scheme: light;
    --top-bar-height: 7%;
    --preview-width: 25%;
    --sidebar-width: 12%;
    --sidebar-width-px: 0; /* JavaScript로 동적 설정 */
}


/* 모바일 화면일 때 --sidebar-width를 0%로 설정 */
@media (max-width: 1024px) {
  :root {
    --sidebar-width: 0%;
  }
}