body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    color-scheme: light;
    --top-bar-height: 7%;
    --preview-width: 25%;
    --sidebar-width: 12%;
}

/* 모바일 화면일 때 --sidebar-width를 0%로 설정 */
@media (max-width: 1024px) {
  :root {
    --sidebar-width: 0%;
  }
}